---
layout: default
---

{% assign total_grads = page.Total_GraduatesNumber | plus: 0 %}
{% assign employed_bar_passage = page.Employed_BarPassageRequiredFTLT | plus: 0 %}
{% assign jd_advantage_num = page.Employed_JDAdvantageNumber | plus: 0 %}
{% assign unemployed_seeking_num = page.UnEmployedSeekingNumber | plus: 0 %}
{% assign other = total_grads | minus: employed_bar_passage | minus: jd_advantage_num | minus: unemployed_seeking_num %}
<!-- Private sector tab nums -->
{% assign num_1_to_10 = page.1-10 | plus: 0 %}
{% assign num_11_to_25 = page.11-25 | plus: 0 %}
{% assign num_26_to_50 = page.26-50 | plus: 0 %}
{% assign num_51_to_100 = page.51-100 | plus: 0 %}
{% assign num_101_to_250 = page.101-250 | plus: 0 %}
{% assign num_251_to_500 = page.251-500 | plus: 0 %}
{% assign num_501_plus = page.501-PLUS | plus: 0 %}
<!-- Public sector tab nums -->
{% assign num_business_industry = page.BusinessIndustry | plus: 0 %}
{% assign num_government = page.Government| plus: 0 %}
{% assign num_public_interest = page.PublicInterest | plus: 0 %}
{% assign num_clerkships_federal = page.Clerkships_Federal | plus: 0 %}
{% assign num_clerkships_state_local = page.Clerkships_StateLocal| plus: 0 %}
{% assign num_clerkships_other = page.Clerkships_Other | plus: 0 %}
{% assign num_education = page.Education | plus: 0 %}
{% assign num_employer_type_unkown = page.EmployerTypeUnknown | plus: 0 %}

<div class="flex-container">
    <!-- Search Bar -->
    <h1>{{page.SchoolName}}</h1>
    <div class="outer-search-container">
        {%- include search_bar.html -%}
    </div>
</div>

<!-- Tab links -->
<div class="tab">
    <button class="tablinks active" onclick="openTab(event, 'General')">General</button>
    <button class="tablinks" onclick="openTab(event, 'Private')">Private Sector</button>
    <button class="tablinks" onclick="openTab(event, 'Public')">Public Sector</button>
</div>

<!-- Tab content -->
<div id="General" class="tabcontent">
    <h3>General</h3>
    <table>
        <thead>
            <tr>
                <th>Empoyment status</th>
                <th>Number of graduates</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Employed - Bar Passage Required</td>
                <td>{{employed_bar_passage}}</td>
            </tr>
            <tr>
                <td>Employed - JD Advantage</td>
                <td>{{jd_advantage_num}}</td>
            </tr>
            <tr>
                <td>Unemployed Seeking</td>
                <td>{{unemployed_seeking_num}}</td>
            </tr>
            <tr>
                <td>Other</td>
                <td>{{other}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <th>{{total_grads}}</th>
            </tr>
        </tfoot>
    </table>
</div>

<div id="Private" class="tabcontent">
    <h3>Private Sector</h3>
    <table>
        <tr>
            <th>Law firm size (# attorneys) </th>
            <th>Number of employed graduates</th>
        </tr>
        <tr>
            <td>1-10</td>
            <td>{{num_1_to_10}}</td>
        </tr>
        <tr>
            <td>11-25</td>
            <td>{{num_11_to_25}}</td>
        </tr>
        <tr>
            <td>26-50</td>
            <td>{{num_26_to_50}}</td>
        </tr>
        <tr>
            <td>51-100</td>
            <td>{{num_51_to_100}}</td>
        </tr>
        <tr>
            <td>101-250</td>
            <td>{{num_101_to_250}}</td>
        </tr>
        <tr>
            <td>251-500</td>
            <td>{{num_251_to_500}}</td>
        </tr>
        <tr>
            <td>501+</td>
            <td>{{num_501_plus}}</td>
        </tr>
    </table>
</div>

<div id="Public" class="tabcontent">
    <h3>Public Sector</h3>
    <table>
        <tr>
            <th>Employment Type</th>
            <th>Number of employed graduates</th>
        </tr>
        <tr>
            <td>Business & Industry</td>
            <td>{{num_business_industry}}</td>
        </tr>
        <tr>
            <td>Government</td>
            <td>{{num_government}}</td>
        </tr>
        <tr>
            <td>Public Interest</td>
            <td>{{num_public_interest}}</td>
        </tr>
        <tr>
            <td>Clerkships - Federal</td>
            <td>{{num_clerkships_federal}}</td>
        </tr>
        <tr>
            <td>Clerkships - State & Local</td>
            <td>{{num_clerkships_state_local}}</td>
        </tr>
        <tr>
            <td>Clerkships - Other</td>
            <td>{{num_clerkships_other}}</td>
        </tr>
        <tr>
            <td>Education</td>
            <td>{{num_education}}</td>
        </tr>
        <tr>
            <td>Unknown</td>
            <td>{{num_employer_type_unkown}}</td>
        </tr>
    </table>
</div>


<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>